.to_class {
    border: 2px solid #4dd2ff;
    padding: 3px;
    border-radius: 10px 10px;
    float: left;
    margin: 5px;
    background-color: #ffffff;
}

.my-custom-scrollbar {
    position: relative;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.width200 {
    width: 200px !important;
}

.width300 {
    width: 300px !important;
}
