<div class="nn-block-margin-top30px">
    <div class="nn-megamenu-sidebar-title"><i class="glyphicon glyphicon-list"></i><h2>Danh mục</h2></div>
    <div class="nn-megamenu-sidebar">
        <ul>
            <li>
                <a href="/">
                    <span class="col-md-3"><img src="~/images/homeImg/icons/Accept.png" class="img-responsive" /></span>
                    <h5 class="col-md-9"><strong>Trang chủ</strong></h5>
                </a>
            </li>
        </ul>
    </div>
    <div class="nn-megamenu-sidebar">
        <ul>
            <li>
                <a href="/">
                    <span class="col-md-3"><img src="~/images/homeImg/icons/Accept.png" class="img-responsive" /></span>
                    <h5 class="col-md-9"><strong>Nhà thuốc</strong></h5>
                </a>
            </li>
        </ul>
    </div>
    <div class="nn-megamenu-sidebar">
        <ul>
            <li>
                <a href="/">
                    <span class="col-md-3"><img src="~/images/homeImg/icons/Accept.png" class="img-responsive" /></span>
                    <h5 class="col-md-9"><strong>Thông tin thuốc</strong></h5>
                </a>
            </li>
        </ul>
    </div>
    <div class="nn-megamenu-sidebar">
        <ul>
            <li>
                <a href="/">
                    <span class="col-md-3"><img src="~/images/homeImg/icons/Accept.png" class="img-responsive" /></span>
                    <h5 class="col-md-9"><strong>Tin tức</strong></h5>
                </a>
            </li>
        </ul>
    </div>
</div><!--end block category-->