<div class="nn-block">
    <div class="nn-megamenu-sidebar-title"><i class="glyphicon glyphicon-tags"></i><h2>Sale off</h2></div>

    <div class="nn-product-box">
        <a href="/">
            <img class="img-responsive" src="~/images/homeImg/products/1001.jpg" />
        </a>
        <div class="nn-product-box-descriptions">
            <h3 class="nn-product-box-name">
                <a href="/"</a>
            </h3>
            <div class="nn-product-box-price ">
                <span class="">10000USD</span>
            </div>
            <div class="nn-product-box-actions">
                <button type="button" title="Add to Cart" class="btn btn-default add-to-cart">
                    <span>Chi tiết</span>
                </button>

            </div>
        </div>
    </div>
    <div class="nn-product-box">
        <a href="/">
            <img class="img-responsive" src="~/images/homeImg/products/1003.jpg/>
        </a>
        <div class="nn-product-box-descriptions">
            <h3 class="nn-product-box-name">
                <a href="/"</a>
            </h3>
            <div class="nn-product-box-price ">
                <span class="">100990USD</span>
            </div>
            <div class="nn-product-box-actions">
                <button type="button" title="Add to Cart" class="btn btn-default add-to-cart">
                    <span>Chi tiết</span>
                </button>

            </div>
        </div>
    </div>
</div><!--end block sale off-->