<div class="nn-block">
    <div class="nn-megamenu-sidebar-title"><i class="glyphicon glyphicon-tags"></i><h2>Thuốc hay mỗi ngày</h2></div>
    <div class="nn-block-product">
        <ul>
            <li>
                <div class="nn-block-product-sidebar">
                    <div class="nn-block-product-sidebar-img col-md-5">
                        <a href="/">
                            <img class="img-responsive" src="/images/homeImg/products/1007.jpg" />
                        </a>
                    </div>
                    <div class="nn-block-product-sidebar-details col-md-7">
                        <h3 class="nn-block-product-sidebar-name">
                            <a href="/"</a>
                        </h3>
                        <div class="nn-block-product-sidebar-price ">
                            <span class="">1000USD</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div><!--end block best seller-->